.custom-card-bg {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  text-align: left;
  min-height: 360px;
}

.custom-card-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.148); 
  z-index: 1;
}

.moneyPeoplecard{
  padding: 15rem 1rem 1rem !important;
}

.safe-simple{
  background-color: rgba(0, 0, 0, 0.452);
  padding: 1rem 1rem;
  max-width: 40%;
  margin: auto;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}

.custom-card-bg .card-body {
  position: relative;
  z-index: 2; 
  padding: 2rem;
}

.custom-card-date {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.custom-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.knowmorebtn {
  background-color: transparent;
  border: 1px solid;
  text-decoration: none;
  color: black;
}

.knowmorebtn a{
  text-decoration: none;
  color: black;
}

.rblCardApp {
  background-image: url('../../Images/RBL_HomePage.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0rem 5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .safe-simple{
max-width: 100%;
  }
}

