.bg-light {
  background-color: #e1e9f6 !important;
}

.creditcard {
  background-color: rgb(220 227 244);
}
.creditcard h1 {
  color: #304087;
  margin-bottom: 15px;
  line-height: 1.2em;
}

.card-hea {
  font-size: 18px;
  color: #303030;
}
.text-primary {
  color: #3949ab !important;
}

.shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hometop {
  background-color: #c7d5ef;
  padding: 6rem 0rem 0rem 4rem;
}
.hometop .homeInner {
  padding: 2rem;
}

.tc {
  margin-top: 8rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.credit {
  background-color: rgb(220 227 244);
}


.first-box .custom-box {
  background-color: #f8f9d7; /* Light yellow for first box */
}

.second-box .custom-box {
  background-color: #f8efef; /* Light pink for second box */
}

/* Box styles */
.custom-box {
  padding: 19px 0px 20px 40px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.custom-box:hover {
  transform: scale(1.03); /* Slight zoom on hover */
}

/* Content inside the boxes */
.box-content {
  flex: 1;
}

.box-heading {
  font-size: 1.25rem;
  color: #333;
}

.custom-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.primary-btn {
  background-color: #3949ab;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #2c387e;
}

/* Image styles */
.box-image {
  flex-shrink: 0;
}

.custom-img {
  max-height: 150px;
  width: auto;
}

.video-section {
  background-color: #e6f3e7;
  padding: 2rem 2rem;
}

.para {
  font-size: 18px;
  color: #606060;
}

@media only screen and (max-width: 900px) {
  
.custom-column {
  margin-bottom: 2rem;
}
  video {
    height: 250px;
  }
  .video-section {
    background-color: #e6f3e7;
    padding: 0rem 0rem;
  }
  .credit-image {
    width: 65%;
  }
  .hometop {
    padding: 5rem 0rem 0rem 0rem;
  }
  .hometop .homeInner {
    padding: 0rem;
  }
  .tc {
    margin-top: 1rem;
    justify-content: space-between;
  }
}
