.applicationMain {
    background: linear-gradient(45deg, #4b4e71, #80414c);
    padding: 24px 10px;
  }
  
  .formdiv {
    margin-top: 35px;
    max-width: 80%;
    border-radius: 20px;
  }
  
  .form-logo {
    margin-left: 38px;
    margin-top: 8px;
  }
  
  .formKeys {
    font-weight: 600;
    font-size: 18px;
    color: #000;
  }
  
  .inputFields {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    padding: 10px 10px 5px 10px;
  }
  
  .radios {
    display: flex;
    gap: 10px;
  }
  
  .radioLabel {
    display: flex;
    gap: 5px;
    align-items: baseline;
  }
  
  .all-spacing {
    margin-top: 2rem;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  .form-space{
    margin-bottom: 1rem;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .formdiv{
      max-width: 100%;
    }
    .form-logo {
      margin-left: 20px;
    }
  
    .col-md-1,
    .col-md-4,
    .col-md-7,
    .col-md-6,
    .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .inputFields {
      padding: 8px 5px;
    }
  
    .all-spacing {
      margin-top: 15px;
    }

  }
  